@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1C9F93;  
  --color-secondary: #D4AF37; 
  --color-accent: #0b7d6f;
  --color-lightbg: #F8FAFC;  
  --color-muted: #64748B; 
}
